body {
  background-image: url(img/chris-adamus-30858.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "verdana", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

#maindiv ul {
  width: 100%;
  height: 60px;
  background-color: transparent;
  line-height: 60px;
  overflow: hidden;
}

#maindiv ul a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
}

#maindiv ul li {
  list-style-type: none;
  display: inline-block;
  float: right;
  padding-right: 20px;
}

#maindiv ul li:hover {
  background: #f44d41;
  transition: all 0.50s;
  border-radius: 20px;
}

img {
  height: 50px;
  padding-top: 8px;
}

.button {
  background-color: rgb(5, 102, 164);
  border: none;
  color: white;
  padding: 20px 50px;
  font-size: 30px;
  margin-top: 20px;
  border-radius: 20px;
  /*   margin-left: 70px;*/
}

.secti {
  text-align: center;
  margin-top: 100px;
  padding-left: 80px;
  color: #ffffff;
}

.paratext {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.location {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 800;
}

.timing {
  margin-top: 20px;
  font-weight: 800;
}
